<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comics
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search comics" [debounce]="1000" animated (ionInput)="searchItem($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comics</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container [items]="comicsList" [isLoading]="isLoading"></app-explore-container>
</ion-content>